<% if @user.username.nil? || @user.zip.nil? %>
	<h3>Action Needed!</h3>
	<p>Please complete your profile setup</p>
	<%= render partial: "/shared/registration" %>
<% else %>

<%= render 'shared/nav_bar' %>
<body>

<center>
<h1 class="font-weight-light mb-4 font-italic text-white"> <%= @user.username %>'s Dashboard </h1>
</center>

<div class="container">
	<div class="row">

		<div class="col">

			<div class="card d-flex text-white mb-3 scroll-2" id="my-circle" style="max-width: 18rem;margin-top: 10px;text-align: center;">
			  <h5 class="card-header bg-dark">My Circle</h5>
				  <div class="card-body">
						<h6 class="card-subtitle mb-2 text-muted">You Have <%= @circle.length %> Artists In Your Circle</h6>
							<% @circle.each do |user| %>
							<div class="card" style="width: 15rem;">
							  <div class="card-img-top" alt="profile photo">
									<%= link_to user.username, profile_path(lookup: user.id) %>
								</div>
							</div><br>
							<% end %>
				  </div>
			</div>
		</div>


		<div class="col-6">

			<div class="card d-flex bg-dark mb-3" style="max-width: 100%;margin-top: 10px;text-align: center;">
			  <h5 class="card-header text-white bg-dark">Create Post</h5>
				<div style="padding:5px;margin:5px;color:white;">
					<%= form_with url: new_post_path, method: :get, local: true do |f| %>
						<%= f.label :content, style: "color: white" %><br>
						<%= f.text_area :content, size: "70 x 4", maxlength: 168, class: "form-label", required: true %><br>
						<%= f.label :link, style: "color: white" %><br>
						<%= f.text_field :link, size: "66 x 1", class: "textfield" %><br><br>
						<%= f.submit 'Create Post', class:"btn btn-secondary" %>
					<% end %>
				</div>
			</div>



		</div>


		<div class="col">

			<div class="card d-flex text-white bg-dark mb-3 scroll-2" style="max-width: 18rem;margin-top: 10px;text-align: center;">
			  <h2 class="card-header"><%= @profile.username %></h2>
				<div class="card-body">
					<%= image_tag @profile_photo.url, class: "img-circular" %><br>
					<h5>Tags</h5>
					<% @tags.each do |tag| %>
						<span class="badge rounded-pill bg-info"><%= tag.name %></span>
					<% end %>
				</div>
			</div>

		</div>
	</div>
</div>


<div class="card mb-3 scroll" style="width: 1118px;margin-top: 10px;text-align: center;margin-left: auto; margin-right: auto;" id="my-feed">
	<h5 class="card-header text-white bg-dark"> My Feed </h5>
		<div class="card-body">
			<h6 class="card-subtitle mb-2 text-muted">Your Circle's Posts</h6>
			<% @circle_posts.each do |post| %>

			<center>
				<div class="card mb-3 background" style="max-width: 1000px;">
				  <div class="row g-0">
				    <div class="col-md-2">
							<%= link_to post.user.username, profile_path(lookup: post.user.id) %>
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <p class="card-text" style="color:black;"><%= post.content %></p><br>
									<% if post.link %>
										<h6 class="card-subtitle mb-2 text-muted"> <%= link_to "#{post.link}" %> </h6>
									<% end %>
									<p class="card-subtitle mb-2 text-muted" style="font-size:11px"> <%= post.created_at_format %> </p>
				      </div>
				    </div>
				  </div>
				</div>
			</center>
		<% end %>
	</div>
</div>


<% end %>
</body>
