<% if @user.username.nil? || @user.zip.nil? %>
	<h3>Action Needed!</h3>
	<p>Please complete your profile setup</p>
	<%= render partial: "/shared/registration" %>
<% else %>

  <section id='username'>
	<h3 class="font-weight-light mb-4 font-italic text-white"><%= @user.username %>'s profile</h3>
  </section>


	<section id="artist-bio">


    <section id='profilepicture' class="font-weight-light mb-4 font-italic text-white">
      <p><%= image_tag @profile_data.profile_photo, class: "img-fluid img-thumbnail" unless @profile_data.profile_photo.nil?%></p>
    </section>

      <section id="distance" class="font-weight-light mb-4 font-italic text-white">
		<% if @user.id == @current_user.id %>
					<p>You are 0 miles from yourself</p>
		<% else %>
        <p><%= @distance %> miles from you</p>
				<p><%= button_to "Add this user to your circle!",
				 circles_path({user_id: @current_user.id, following_id: @user.id}),
				 method: :post  if !@circle_ids.include?(@user.id) %></p>
        <p><%= "This user is in your circle!" if @circle_ids.include?(@user.id) %></p>
		<% end %>
			</section>

		<h4 class="font-weight-light mb-4 font-italic text-white">Artist Bio</h4>

		<% if @user.bio.empty? %>
			<p class="font-weight-light mb-4 font-italic text-white">Nothing to see here!</p>
			<% else %>
			<figure class="text-left">
			  <blockquote class="blockquote">
			  	<p><%= @user.bio %></p>
			  </blockquote>
			  <figcaption class="blockquote-footer">
			    Created by <cite title="Source Title"><%= @user.username %></cite>
			  </figcaption>
			</figure>
		<% end %>
	</section>

<section id="posts" class="font-weight-light mb-4 font-italic text-white">
  <h4>Posts</h4>
    <% @profile_data.posts.each do |post| %>
      <p><%= post.content %></p>
      <p><%= link_to post.link unless post.link.nil? %></p>
      <br>
    <% end %>
  </section>

	<section id="galleries">
		<% @profile_data.galleries.each do |gallery| %>
			<section id="gallerypicture-<%= gallery.id %>">
			<%= image_tag gallery.photos.first.url unless gallery.photos.first.url.nil? %>
			<%= link_to gallery.name, galleries_path({gallery_id: gallery.id}) %>
			<br>
			<% end %>
			</section>
	</section>

<% end %>
