<% if @user.username.nil? || @user.zip.nil? %>
	<h3>Action Needed!</h3>
	<p>Please complete your profile setup</p>
	<%= render partial: "/shared/registration" %>
<% else %>
		<!-- 
		REMOVE THIS LINK ONCE FUNCTIONALITY IS IMPLEMENTED, ITS JUST FOR TESTING 
		 -->
		<p>Link to other page  <%= link_to("other profile", profile_path(lookup: "10000001")) %> </p>
		<section id="profilePicture">
			<%# image_tag @user.picture_url %>
		</section>
		<section id="username">
			<%= @user.username %>
		</section>
		<% if @user.id == @current_user.id %>
			<section id="distance">
					<p>You are 0 miles from yourself</p>
			</section>

		<% else %>
			<section id="distance">
					<p><%= @distance %> miles from you</p>
			</section>
		<% end %>

	<section id="artist-bio">
		<h4>Artist Bio</h4>

		<% if @user.bio.empty? %>
			<p>Nothing to see here!</p>
			<% else %>
			<figure class="text-left">
			  <blockquote class="blockquote">
			  	<p><%= @user.bio %></p>
			  </blockquote>
			  <figcaption class="blockquote-footer">
			    Created by <cite title="Source Title"><%= @user.username %></cite>
			  </figcaption>
			</figure>
		<% end %>
	</section>
	<section id="posts">
	<h4>Posts</h4>
		<% @profile_data.posts.each do |post| %>
			<p><%= post.content %></p>
			<p><%= link_to post.link unless post.link.nil? %></p>
			<br>
		<% end %>
	</section>
<% end %>