<center>
<button class="btn btn-outline-success form-control" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Upload Photos</button>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Photo</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="color:black">
    <section class="profile">
      <h2><center> Create a new Gallery <center></h2>
      <%= form_with url: '/galleries' , local: true, method: :post do |form| %>
        <%= form.text_field :name, {class:"form-control", placeholder:"Enter Gallery Name"} %>
        <%= form.text_field :new_description, {class:"form-control", placeholder:"Description of photo"} %>
        <%= form.file_field :images, class: "form-control" %>
        <%= form.submit 'Create Gallery' %>
      <% end %>
    </section>
    <section id="photo-upload">
      <%= form_with url: '/photos' , local: true, method: :post do |form| %>

      <h2><center> Check the Gallery you want to add photo to: </center></h2>
      <%= form.collection_check_boxes(:galleries, @galleries, :id, :name, include_hidden: false) do |gallery| %>
        <div>
          <%= gallery.check_box %>
          <%= gallery.label %>
        </div>
      <% end %>

      <%= form.text_field :description, {class:"form-control", placeholder:"Description of photo"} %>
      <%= form.file_field :images, class: "form-control" %>
      <%= form.submit 'Upload' %>
      <% end %>
    </section>
  </div>
</div>
<center>
