<center>
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Upload Photos</button>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Photo</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <section>
      <%= form_with url: '/galleries' , local: true, method: :post do |form| %>
        <%= form.text_field :name, {class:"form-control", placeholder:"Enter Gallery Name"} %>
        <%= form.label 'Upload Images to your Gallery'%>
        <%= form.file_field :image, multiple: true, class: "form-control" %>
        <%= form.submit 'Upload' %>
      <% end %>
    </section>
  </div>
</div>
<center>
