
<section>
  <div class="container p-3 my-3 border">
    <%= form_with url: '/register', method: :post, local: true do |f| %>
      <div class="form-group">
        <%= f.text_field :username, {class:"form-control", placeholder:"Enter Blog Name"} %>
      </div>
      <div class="form-group">
        <%= f.number_field :zip, {class:"form-control", placeholder:"Enter Zip Code"} %>
      </div>
      <div class="form-group">
        <%= f.text_field :bio, {class:"form-control", placeholder:"Enter Artist Bio"} %>
      </div>
      <div class="form-group">
        <%= f.file_field :picture_url, {class:"form-control", placeholder:"Add a Photo"} %>
      </div>
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <%= f.submit "Register", class:"btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
