<%= render 'shared/nav_bar' %>

<center>
<h1 class="my-gallery"style= "font-color:white;"> <%= @user.username%> Galleries </h1>
</center>

  <div class="container">
    <div class="row align-items-start">
      <div class="col-4">

        <div class="card text-white mb-3 scroll-3" style="width: 100%;margin-top: 10px;text-align: center;margin-left: auto; margin-right: auto;" id="my-feed">
        	<h5 class="card-header bg-dark"> My Galleries </h5>
          <%= render 'shared/edit_profile' %>
        		<div class="card-body">

              <% @galleries.each_with_index do |gallery, index| %>
                <% cache gallery do %>
                    <div class="card">
                        <div class=" image-<%= index + 1 %> ">
                          <img class="card-img" src="<%=gallery.photos.first.url%>" alt="picture">
                        </div>
                      <div class="card-img-overlay">
                        <p class="card-text"><%= button_to gallery.name, galleries_path, params: {gallery_id: gallery.id}, method: :get, class: 'btn btn-outline-info form-control' %></p>
                      </div>
                    </div><br>
                <% end %>
              <% end %>

        		</div>
        </div>

      </div>
      <div class="col-8">

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% @photos.each do |photo| %>
              <div class="col">
                <div class="card">
                  <img src="<%= photo.url %>" class="card-img" alt="...">
                  <div class="card-img-overlay">
                    <p class="card-text blue_glow"><%= photo.description %>.</p>
                  </div>
                </div>
              </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
